{
  "env": {
    "development": {
      "presets": ["env", "stage-1"]
    },
    "test": {
      "presets": ["env", "stage-1"]
    },
    "production": {
      "presets": ["env", "stage-1"]
    }
  }
}
